
* {
 theme-background1: #335588;
 theme-bg1listCellSelected: #253e63;
}

.list-view {
	-fx-background-color: theme-background1;
}

.list-cell {
	-fx-font-size: 16;
	-fx-padding: 10 20 10 30;
	-fx-background-color: theme-background1;
	-fx-text-fill: white;
}

.list-cell:selected {
	-fx-background-color: theme-bg1listCellSelected;
}
