@CHARSET "UTF-8";

/* For some reason, without an empty .root {} here the .list-view {} declaration doesn't get parsed? */
.root {}

.list-view {
	-fx-background-color: transparent;
}

.list-cell {
	-fx-background-color: transparent;
}

#categoriesPane {
	-fx-background-color: theme-backgroundDark;
}

#messageListPane {
	-fx-background-color: theme-backgroundMedium;
}

#messageDetailsPane {
	-fx-background-color: theme-backgroundLight;
}

#usernameLabel {
	-fx-text-fill: theme-foregroundDark;
}

#spinner {
	-fx-progress-color: theme-foregroundDark;
}

.svg-icon {
	-fx-fill: theme-foregroundDark;
}

#categoryList .list-cell {
	-fx-font-size: 16;
	-fx-padding: 10 20 10 30;
}

#categoryList .list-cell:selected {
	-fx-background-color: derive( theme-backgroundDark, -15% );
}

#messageList {
	-fx-padding: 0;
	-fx-background-insets: 0;
}

#messageList .list-cell:selected {
	-fx-background-color: derive( theme-backgroundMedium, -5% );
}

.toolbar-button {
	-fx-background-color: transparent;
}

/** Don't draw the dropdown arrow on ToggleButtons. */
.toolbar-button .arrow {
	-fx-background-color: transparent;
}

.scroll-pane, .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.progress-bar .bar { 
    -fx-padding: 1px; 
    -fx-background-insets: 0; 
}

#senderLabel {
	-fx-text-fill: theme-foregroundLight;
}

#subjectLabel {
	-fx-text-fill: theme-foregroundLight;
}

.attendee {
	-fx-font-size: 85%;
	-fx-background-color: theme-backgroundMedium;
	-fx-background-radius: 4px;
	-fx-padding: 2px 8px;
}
