@CHARSET "UTF-8";

.editable {
	-fx-background-color: #eee;
}

.attendee {
	-fx-font-size: 80%;
	-fx-background-color: #eee;
	-fx-padding: 2px 8px;
	-fx-background-radius: 4px;
	-fx-border-color: #ccc;
	-fx-border-radius: 4px;
}