
* {
 theme-background2: #E8EBF1;
 theme-bg2listCellSelected: #d8dde7;
}

.list-view {
	-fx-background-color: theme-background2;
}

.list-cell {
	-fx-background-color: theme-background2;
}

.list-cell:selected {
	-fx-background-color: theme-bg2listCellSelected;
}
